<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.selenium.worktypegroup.WorkTypeGroupSortOrder"/>
      <class name="com.selenium.account.TC002_EditAccounts"/>
      <class name="com.selenium.Case.TC003_DeleteCase"/>
      <class name="com.selenium.Case.TC002_EditCase"/>
      <class name="com.selenium.account.TC001_CreateAccount"/>
      <class name="com.selenium.worktype.CreateNewWorkType"/>
      <class name="com.selenium.worktypegroup.DeleteWorkTypeGroups"/>
      <class name="com.selenium.worktypegroup.EditWorkTypeGroups"/>
      <class name="com.selenium.Case.TC004_CreateCaseWithoutMandatoryFields"/>
      <class name="com.selenium.Case.TC001_CreatNewCase"/>
      <class name="com.selenium.account.TC004_VerifySorting"/>
      <class name="com.selenium.account.TC003_DeleteAccount"/>
      <class name="com.selenium.worktypegroup.CreateWorkTypeGroups"/>
      <class name="com.selenium.worktype.EditWorkType"/>
      <class name="com.selenium.worktypegroup.CreateWorkTypeGroupCheckMandatoryField"/>
      <class name="com.salesforce.dashboard.TC1_CreateNewDashboard" />
	  <class name="com.salesforce.dashboard.TC2_EditDashboard" />
	  <class name="com.salesforce.dashboard.TC3_DeleteDashboard" />
	  <class name="com.salesforce.dashboard.TC4_SortDashboard" />
	  <class name="com.salesforce.dashboard.TC5_VerifyDashboardSubscribe" />
	  <class name="com.saleforce.refund.TC1_CreateNewRefund" />
	  <class name="com.saleforce.refund.TC2_CreateNewChart" />
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
