<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.selenium.Salesforce.TC001_CreatNewCase"/>
      <class name="com.selenium.Salesforce.TC003_DeleteCase"/>
      <class name="com.selenium.Salesforce.TC004_CreateCaseWithoutMandatoryFields"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
